<html>
<head>
    <title>Hướng dẫn đăng ký tham gia đấu giá</title>
    {{#section 'css'}}
        <link rel="stylesheet" type="text/css" href=/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/news.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    {{/section}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>

<body id="dien-thoai-1 home" class="cms-index-index cms-home-page">
<div class="brd">
    <div class="container">
        <div class="row">
            <div class="inner">
                <ul class="breadcrumbs">
                    <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li class="home"> <a title="Hướng dẫn" href="/huongdan">Hướng dẫn</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li> <span>Chi tiết hướng dẫn</span></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div id="container"> 
    <div id="pane-main">                                  
        <div id="help-content" class="bbCode">
            <div id="news-content">
            <div id="news-title">Đăng ký tham gia đấu giá</div>
                <div id="news-info">Ngày: 25/05/2017</div>
                <div id="news-content">Một số hướng dẫn cần biết khi tham gia đấu giá<br><br><span class="bbCodeColor" style="color: red;">
                    <span class="bbCodeItalic" style="font-style: italic;">
                        <span class="bbCodeBold" style="font-weight: bold;">Tham gia đấu giá:</span>
                    </span>
                </span>
                <br>- Để tham gia đấu giá bạn cần phải tạo tài khoản cho mình để được đấu giá và phải có độ tin cậy trên 50% mới được cho đăng sản phẩm đấu giá <br>
                <br>
                <span class="bbCodeColor" style="color: red;">
                    <span class="bbCodeItalic" style="font-style: italic;">
                        <span class="bbCodeBold" style="font-weight: bold;">Đăng ký nick đấu giá:
                        </span>
                    </span>
                </span>
                <br>- Bạn vui lòng tạo tài khoản và tích lũy độ tin cậy của mình trên 50% để được đấu giá
                <br>
                <br>Cách đấu giá:
                <br>- Giá sản phẩm hiện ngay cạnh nút đấu giá
                <br>- Khi bạn nhấn nút đấu giá hệ thống sẽ xác nhận thêm 1 lần nữa bằng hộp thoại với bạn có đồng ý đấu giá hay Hủy.
                <br>- Khi giá đấu = giá bán thì đấu giá đó sẽ tự động kết thúc.
                <br>
                <br>Hiệp phụ:
                <br>- Trong 10s sau cùng nếu có &gt; = 2 người cùng bid thì hệ thống sẽ tự động chuyển sang hiệp phụ,đồng hồ sẽ quay về 10s đếm ngược.<br>
                <br>Hủy đấu giá
                <br>- Nếu thắng đấu giá mà không nhận hàng bạn sẽ bị ban nick vĩnh viễn.Và bạn biết để có nick đấ giá thì cũng khó tới mức nào rồi đấy!
                <br>
                <br>
                <span class="bbCodeBold" style="font-weight: bold;">Cách thức nhận hàng :</span> 
                <br>- Thời gian nhận hàng trong 72h .
                <br>- Bạn có thể đến địa chỉ dưới website để nhận hàng
                <br>- Công ty Một thành viên NgáoTeam
                <br>- Địa chỉ: Nguyễn Tri Phương Quận 5, TPHCM hoặc Võ Văn Ngân,Quận Thủ Đức,TPHCM
                <br>- Email: teamngao@gmail.com
                <br>
                <br>- Bạn có thể yêu cầu giao hàng đến địa chỉ mà bạn cung cấp với chi phí tự trả cho các nhà vận chuyển hàng hóa như 247,Chuyển đồ nhanh....
                <br>- Nếu bạn ở khu vực khác HCM bạn có thể chuyển khoảng qua các TK sau (BIDV,SacomBank,Đông Á Bank,ViettinBank) sản phẩm đấu giá sẽ chuyển phát nhanh về địa chỉ của bạn(Phí chuyển phát do người thắng đấu giá chịu)
                <br>- Khi nhận hàng bạn có thể nhờ ai đó biết password của bạn login vào topic đấu giá post bài xác nhận đã nhận hàng.
                <br>- Sản phẩm thắng đấu giá được bảo hành trong phần giới thiệu đấu giá<br><br><span class="bbCodeBold" style="font-weight: bold;">Hợp tác:
            </span> 
            <br>- Bạn có thể hợp tác cùng chúng tôi đấu giá ,chạy sản phẩm Hot,giảm giá,kí gửi sản phẩm đấu giá qua email : teamngao@gmail.com
        </div>
    </div>
</div>

        <div id="related-news">
            <div class="rn-title">Tin liên quan
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/1">Đăng ký tham gia đấu giá sohot</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/2">Phí kí gửi hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/3">Hướng dẫn "Chủ topic " quản lý hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/4">Quy định cho người tạo đấu giá (chủ topic)</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/5">Bị ban nick khi không nhận hàng</a>
                </div>
            </div>
        </div>
</div>
</div>
    <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/JS/productreviews.min.js"></script>
    <script type="text/javascript" src="/JS/owl_product_details.js"> </script>
    <script type="text/javascript" src="/JS/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showmenu').click(function() {
                $('#menucontentother').slideToggle('300');
                return false;
            });
        });
        $(".nav-drop").mouseenter(function() {
            $("#menucontentother").show();
        }).mouseleave(function() {
            $("#menucontentother").hide();
        });

    </script>

</body>
</html>