<html>
<head>
    <title>Chi tiết về đấu giá</title>
    {{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/news.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    {{/section}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>

<body id="dien-thoai-1 home" class="cms-index-index cms-home-page">
<div class="brd">
    <div class="container">
        <div class="row">
            <div class="inner">
                <ul class="breadcrumbs">
                    <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li class="home"> <a title="Hướng dẫn" href="/huongdan">Hướng dẫn</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li> <span>Chi tiết hướng dẫn</span></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div id="container"> 
    <div id="pane-main">                                  
        <div id="help-content" class="bbCode">
            <div id="news-content">
                <div id="news-title">Đấu giá là gì ?
                </div>
                <div id="news-info">Ngày: 20/11/2013
                </div>
                <div id="news-content">
                    <span class="bbCodeBold" style="font-weight: bold;">Đấu giá trực tuyến
                    </span> là cách cho phép người tham gia đấu giá các sản phẩm hoặc các dịch vụ thông qua Internet.
                    <br>Khi nói đến đấu giá trực tuyến là chúng ta nghĩ ngay đến eBay, website đấu giá trực tuyến lớn nhất trên thế giới hiện nay. Giống như hầu hết các công ty đấu giá, eBay không trực tiếp bán hàng của chính mình mà chỉ giúp cho các thành viên liệt kê và trưng bày sản phẩm của họ, đấu giá các sản phẩm và thanh toán chúng. Nó hoạt động giống như là một nơi họp chợ cho các thành viên hoặc các doanh nghiệp sử dụng để đấu giá các sản phẩm và dịch vụ. <br>
                    <br>
                    <span class="bbCodeBold" style="font-weight: bold;">Có một vài loại hình thức đấu giá trên mạng đang hiện hữu như:</span>
                    <br>-   Đấu giá kiểu Anh, giá khởi điểm sẽ được đặt ở mức thấp và sau đó được nâng lên bới các ngưới tham giá đấu giá tiếp theo
                    <br>-    Đấu giá Hà Lan, đồng thời nhiều món hàng giống nhau sẽ được đưa lên sàn đấu giá, tất cả những người đấu giá thắng sẽ trả cùng một giá – giá cao nhất mà tất cả các món hàng đó được bán (treasury bills là một ví dụ cho kiểu đấu giá này). Hầu hết tất cả các sàn đấu giá trực tuyến đều sử dụng đấu giá kiểu Anh. 
                   <br>
                   <br>
                   <span class="bbCodeBold" style="font-weight: bold;">Những ưu điểm của mô hình thương mại này là:
                   </span>
                   <br>Không ràng buộc thời gian. Việc đặt giá có thể thực hiện bất kì lúc nào. Các sản phẩm được liệt kê trong một một vài ngày (thường là từ 1 đến 10 ngày, tùy theo ý thích của người bán) để người mua có thời gian tìm kiếm, quyết định và đặt giá. Giá trị của món hàng sẽ được nâng lên theo số lượng người tham giá đấu giá.
                   <br>
                   <br>
                   <span class="bbCodeBold" style="font-weight: bold;">Không ràng buộc địa lý:
                   </span> Những người bán hàng và những người đấu giá có thể tham gia đấu giá từ bất kì nơi nào có truy cập Internet. Điều này làm các cuộc đấu giá thêm gần gũi và giảm chi phí tham dự một cuộc đấu giá. Điều này đồng thời cũng làm tăng số lượng các sản phẩm (có càng nhiều người bán hàng) và số lượng các đặt giá (có càng nhiều người đặt giá). Những món hàng không những không cần phải đưa đến sàn đấu giá mà còn giảm được chi phí, giảm được giá khởi điểm được chấp nhận của người bán.
                   <br>
                   <br>
                   <span class="bbCodeBold" style="font-weight: bold;">Sức mạnh của tương tác xã hội:
                   </span> Tương tác xã hội mà liên quan đến quá trình đấu giá thì giống như việc đánh bạc. Những người đấu giá chờ đợi trong hi vọng là họ sẽ thắng (eBay gọi những người đặt giá thành công là những người chiến thắng). Cũng giống như sự ham mê cờ bạc, nhiều người tham gia đặt giá chủ yếu để "chơi trò chơi" chứ không muốn giành được món hàng. Và điều này tạo ra một sự phân chia lớn các khách hàng tiềm năng của eBay.
                   <br>
                   <br>Số lượng người đấu giá lớn. Bởi vì tiềm năng có giá thấp, hàng hóa và dịch vụ đa dạng, dễ dàng tham gia và lợi ích xã hội của quá trình đấu giá.
                   <br>
                   <br>Số lượng người bán hàng lớn. Bởi vì có nhiều người tham gia đặt giá, có thể đạt được giá cao, giảm chi phí bán hàng, dễ buôn bán.
                   <br>
                   <br>Mạng lưới kinh doanh. Số lượng lớn các người tham gia đấu giá sẽ khuyến khích nhiều người bán, ngược lại số lượng lớn các người bán sẽ làm tăng số lượng người đấu giá. Càng có nhiều hoạt động thì hệ thống càng lớn mạnh, và mô hình kinh doanh càng trở nên có giá trị cho những người tham gia.
                   <br>
                   <br>
                <span class="bbCodeBold" style="font-weight: bold;">Đấu giá là một hình thức rõ rệt nhất của sự chênh lệch giá. Vì vậy, họ cố gắng chuyển một phần thặng dư của khách hàng thành thặng dự hàng hóa. Đấu giá trên mạng là một hình mẫu hiệu quả của sự chênh lệch giá.
               </span>
           </div>
       </div>
   </div>
    </div>
        <div id="related-news">
            <div class="rn-title">Tin liên quan
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/1">Đăng ký tham gia đấu giá sohot</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/2">Phí kí gửi hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/3">Hướng dẫn "Chủ topic " quản lý hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/4">Quy định cho người tạo đấu giá (chủ topic)</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/5">Bị ban nick khi không nhận hàng</a>
                </div>
            </div>
        </div>
</div>
</di
    <script type="text/javascript" src=/assests/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src=/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src=/JS/productreviews.min.js"></script>
    <script type="text/javascript" src=/JS/owl_product_details.js"> </script>
    <script type="text/javascript" src="/JS/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showmenu').click(function() {
                $('#menucontentother').slideToggle('300');
                return false;
            });
        });
        $(".nav-drop").mouseenter(function() {
            $("#menucontentother").show();
        }).mouseleave(function() {
            $("#menucontentother").hide();
        });

    </script>

</body>
</html>