<html>
<head>
    <title>Phí kí gửi hàng đấu giá</title>
    {{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/myStyle.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/news.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    {{/section}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


</head>

<body id="dien-thoai-1 home" class="cms-index-index cms-home-page">
<div class="brd">
    <div class="container">
        <div class="row">
            <div class="inner">
                <ul class="breadcrumbs">
                    <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li class="home"> <a title="Hướng dẫn" href="/huongdan">Hướng dẫn</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li> <span>Chi tiết hướng dẫn</span></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div id="container">
    <div id="pane-main">
        <div id="help-content" class="bbCode">
            <div id="news-content">
                <div id="news-title">Phí kí gửi hàng đấu giá
                </div>
                <div id="news-info">Ngày: 20/05/2017
                </div>
                <div id="news-content">Chào các bạn
                    <br>
                    <br>- Chúng tôi hiện nay đã nhận kí gửi hàng hóa đấu giá của member với các mức phí thỏa thuận <br>- Chúng tôi sẽ chia làm 2 mặt hàng new và đã sử dụng
                    <br>- Hiện nay đang nhận kí gửi các mặt hàng mới 100% để đảm bảo yếu tố an tâm cho thành viên mà không lo lắng về tình trạng món hàng.
                    <br>
                    <br>
                    <span class="bbCodeBold" style="font-weight: bold;">- Về mặt chi phí thì chúng tôi sẽ tính theo tỉ lệ % như sau :
                        <br>
                        <br>Nếu món hàng đó winner thắng với giá &lt;= 200k thì chúng tôi sẽ tính phí là 20k.
                        <br>Nếu món hàng đó winner thắng với giá &lt;=2.000k thì chúng tôi sẽ nhận 15% giá winner
                        <br>Nếu món hàng đó winner thắng với giá &gt;2.000k và &lt;=3.000k thì chúng tôi sẽ nhận 10% giá winner
                        <br>Nếu món hàng đó winner thắng với giá &gt;3.000k và &lt;=4.000k thì chúng tôi sẽ nhận 9% giá winner
                        <br>Nếu món hàng đó winner thắng với giá &gt;4.000k và &lt;=5.000k thì chúng tôi sẽ nhận 8% giá winner
                        <br>Nếu món hàng đó winner thắng với giá &gt;5.000k và &lt;=6.000k thì chúng tôi sẽ nhận 7% giá winner
                    </span>
                    <br>
                    <br>Ví dụ : winner thắng 1 món hàng với giá 2.000k thì chúng tôi sẽ nhận 15% của 2.000k<br>Vậy số tiền chúng tôi nhận sẽ là : 2.000k * 15% = 300k
                    <br>
                    <span class="bbCodeBold" style="font-weight: bold;">Lưu ý: Với món hàng đặt giá khởi điểm mà không có ai đấu, chúng tôi vẫn tính % trên giá khởi điểm nếu khi hết thời gian mà không có ai đấu
                    </span>
                    <br>Nếu món hàng có giá trị lớn thì các bạn vui lòng gửi email về teamngao@gmail.com
                    <br>- Các bạn nếu có ý kiến đóng góp hay hỏi về kí gửi hàng hóa có thể post vào đây hay gửi mail về teamngao@gmail.com
                    <br>
                    <br>Thân chào (  )
                </div>
            </div>
        </div>

        <div id="related-news">
            <div class="rn-title">Tin liên quan
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/1">Đăng ký tham gia đấu giá sohot</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/2">Phí kí gửi hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/3">Hướng dẫn "Chủ topic " quản lý hàng đấu giá</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/4">Quy định cho người tạo đấu giá (chủ topic)</a>
                </div>
            </div>
            <div class="rn-item">
                <div class="rni-title"> ·
                    <a style="color:red;" href="/huongdan/5">Bị ban nick khi không nhận hàng</a>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/JS/productreviews.min.js"></script>
    <script type="text/javascript" src="/JS/owl_product_details.js"> </script>
    <script type="text/javascript" src="/JS/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showmenu').click(function() {
                $('#menucontentother').slideToggle('300');
                return false;
            });
        });
        $(".nav-drop").mouseenter(function() {
            $("#menucontentother").show();
        }).mouseleave(function() {
            $("#menucontentother").hide();
        });

    </script>

</body>
</html>