<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p style="font-size: 30px;color: #843534">Chào mừng bạn đến website đấu giá của chúng tôi</p>
<p>Chào {{hoten}}</p>
<p>Bạn quên mật khẩu và muốn reset?</p>
<p>Hãy truy cập vào đường dẫn này <a href="http://localhost:3000/taikhoan/reset/{{id}}">Reset</a> để reset lạ mật khẩu</p>
<p> Cám ơn các bạn đã sử dụng dịch vụ của chúng tôi</p>
</body>
</html>