<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <p style="font-size: 30px;color: #843534">Chào mừng bạn đến website đấu giá của chúng tôi</p>
    <p>Đây là link để xác thực tài khoản của bạn</p>
    <a href="http://localhost:3000/taikhoan/xacthuc/{{ten}}">Nhấn vào đây để xác thực tài khoản</a>
    <p> Cám ơn các bạn đã sử dụng dịch vụ của chúng tôi</p>
</body>
</html>