<!DOCTYPE html>
<html>
<head>
    <title>Thành công</title>
</head>
<body>
    <div>Xác thực tài khoản thành công</div>
    <div>Bạn muốn đến</div>
    <a href="/">Trang chủ</a>
    <a href="/taikhoan/dangnhap">Đăng nhập</a>
</body>
</html>