<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p style="font-size: 30px;color: #843534">4P1Q Trang Đấu giá uy tín nhất</p>
<p>Sản phẩm {{tensanpham}} của bạn đã được đấu giá thành công</p>
<p>Người mua sản phẩm của bạn : {{tennguoimua}}</p>
<p>Số điện thoại : {{sodienthoai}}</p>
<p>Số tiền : {{sotien}}</p>
<p>Bạn hãy liên hệ với chúng tôi để có thể giao hàng cho người mua</p>
<p> Cám ơn các bạn đã sử dụng dịch vụ của chúng tôi</p>
</body>
</html>