<html>
<head>
    <title>Đơn xin phép</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="/CSS/popup_cart_desktop.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.theme.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/css.css">
    <link rel="stylesheet" type="text/css" href="/CSS/jgrowl.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">

    <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    <link rel="stylesheet" type="text/css" href="/CSS/donxinphep.css"/>
{{/section}}


</head>
<body>
<div class="brd">
    <div class="container">
        <div class="row">
            <div class="inner">
                <ul class="breadcrumbs">
                    <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li><a href="/taikhoan/thongtincanhan">Tài khoản</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li> <span>Xin phép bán</span></li>

                </ul>
            </div>
        </div>
    </div>
</div>





<div class="container">

    <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 login_area form_area">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 login_site">
                    <div id="demo" class="content">

                        <form accept-charset="UTF-8" action="" id="customer_login" name="customer_login" method="post" onsubmit="">
                            
                            
            <h2>
                <span><b><font color="black">Xin phép bán</font></b></span>
            </h2>
   

<p>&nbsp;</p>


                            <p style="line-height:15px;">Mời bạn nhập nội dung</p>
<br>


                            <ul class="form-list">
                                <li>
    <div class="form-group">
      <textarea class="form-control" rows="10" id="comment" name="comment"></textarea>
    </div>
                                   
                                </li>
                            </ul>
                            <div class="buttons-set">
                                <input id="reset" type="submit" class="button login login_sign" value="  Gửi  " style="font-weight: bold;"></input>         
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button id="trolai" type="button" class="button login login_sign"><span>Trở lại</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

</div>  <!-- của container -->

<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/JS/productreviews.min.js"></script>
<script type="text/javascript" src="/JS/owl_product_details.js"> </script>
<script type="text/javascript" src="/JS/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#showmenu').click(function() {
            $('#menucontentother').slideToggle('300');
            return false;
        });
    });
    $(".nav-drop").mouseenter(function() {
        $("#menucontentother").show();
    }).mouseleave(function() {
        $("#menucontentother").hide();
    });

</script>

</body>
</html>